<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clerk Confirm Réservation</title>
    
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!-- Boostrap -->
    
        <!-- Page Style -->
        <link rel="stylesheet" href="styles/rooms-list.css">
        <link rel="stylesheet" href="styles/reservation-details-modal.css">
        <!-- Page Style -->
    
        <!-- Boostrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <!-- Boostrap Icons -->

        <!-- Tel Phone Input -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@20.1.0/build/css/intlTelInput.css">
        <!-- Tel Phone Input -->

        <!-- Font awesome CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Font Awesome CDN -->
    
    </head>

<body>

    <style>
        .hotel-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .reservation-info-container{
            background-color: #dff5ffdc;
        }
        hr{
            opacity: 0.08; 
            width: 85%;
        }
        .hide {
            display: none;
        }
        body {
            background-color: #eff3f7;
        }
        .rounded-container {
            background-color: white;
        }
    </style>

    <div class="container w-75 my-4 p-4 rounded-container rounded-5">
        
        <form action="/clerk-create-reserv" method="post">
            <h2 style="margin-bottom: 0px;" >Confirmation de réservation</h2>
            <p class="text-secondary" style="font-size: 0.95em">Employee: Kenneth Sidibe</p>
            <!-- Profile Info -->
            <div class="my-4 p-4 ">
            
                <div class="row mt-3">
                    <div class="d-flex flex-row justify-content-between mb-4">
                        <h3>Renseignements généraux</h3>
                    </div>
                  <div class="d-flex flex-column w-75 mx-0">
                    <div class="row container">
                        <div class="col-6 ps-0 ms-0 d-flex flex-column">
                            <p class="mb-0 fw-medium">Nom</p>
                            <p><%= clientData.lastName %></p>
                        </div>
            
                        <div class="col-6 d-flex flex-column">
                            <p class="mb-0 fw-medium">Prénom</p>
                            <p><%= clientData.firstName %></p>
                        </div>
                    </div>
                  </div>
                    <div class="d-flex flex-row justify-content-between my-4">
                        <h3>Coordonnées</h3>
                    </div>
                <div class="d-flex flex-column w-75 mx-0">
                    <div class="row container">
                        <div class="col-6 ps-0 ms-0 d-flex flex-column">
                            <p class="mb-0 fw-medium">Numéro de téléphone</p>
                            <p><%= clientData.phoneNumber %></p>
                        </div>
            
                        <div class="col-6 d-flex flex-column">
                            <p class="mb-0 fw-medium">E-mail</p>
                            <p><%= clientData.email %></p>
                        </div>
                        <div class="col-6 ps-0 ms-0 d-flex flex-column">
                            <p class="mb-0 fw-medium">Addresse</p>
                            <p><%= clientData.address %></p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Profile Info -->
              <hr style="width:80%;">
              <div class="row p-4">
                  <h2 class="mb-4" >Réservation</h2>
                  <!-- Reservation Info -->
                  <style>
                    .info-name {
                        color: #0700cf
                    }
                    .info-name + p {
                        font-weight: 500;
                    }
                          </style>
                          <div class="d-flex flex-row">
                    <div class="yellow" style="height: 128px; width:128px;">
                        <img src="images/room1.jpg" class="img-fluid hotel-img rounded-4" alt="">
                    </div>
                    <div class="ms-1 row gy-0 d-flex flex-column">
                        <div class="d-flex " >
                            <h4 style="margin-bottom: 0px;">Room Name</h4>
                        </div>
                        <h6><%= reservData.hotelName %></h6>
                        <p class="fw-light">H<%= reservData.hotelLocation %></p>
                    </div>
                          </div>
            
                          <div class="row my-5">
                    <div class="col d-flex flex-column">
                        <p class="my-2 info-name">Arrivée</p>
                        <p class="fs-5 reservation-date-info" ><%= reservData.reservArrivalDate %></p>
                        <input type="date" name="arrivalDate" id="arrival-date" class="form-control hide" >
                    </div>
                    <div class="col d-flex flex-column align-items-center">
                        <i class="bi bi-moon-stars fs-2 my-2"></i>
                        <p class="fw-medium"><%= reservData.numberOfNights %> <%= reservData.nightString %></p>
                    </div>
                    <div class="col d-flex flex-column align-items-end">
                        <p class="info-name">Départ</p>
                        <p class="fs-5 reservation-date-info" ><%= reservData.reservDepartureDate %></p>
                        <input type="date" name="arrivalDate" id="departure-date" class="form-control hide" >
                    </div>
                          </div>
                    <div class="d-flex justify-content-center">
                        <hr>
                    </div>
                          <div class="row my-5">
                    <div class="col d-flex flex-column">
                        <p class="my-2 info-name" >Chambres & Personnes</p>
                        <p class="fs-5" ><%= reservData.roomCapacity %> <%= reservData.personString %> (1 chambre)</p>
                    </div>
                    <div class="col d-flex flex-column align-items-end">
                        <p class="info-name" >Prix/Nuit</p>
                        <p><%= reservData.roomPrice %>$</p>
                    </div>
                          </div>
                          <div class="d-flex justify-content-center">
                    <hr>
                          </div>
                          <div class="row my-5">
                    <div class="col d-flex flex-column">
                        <p class="my-2 info-name">Commodité</p>
                        <p class="fs-5">Machine à café</p>
                    </div>
                    <div class="col d-flex flex-column justify-content-center align-items-end">
                        <i class="bi bi-cup-hot fs-1"></i>
                    </div>
                          </div>
                          <div class="row my-5">
                    <div class="col d-flex flex-column">
                        <p class="my-2 info-name">Extensions</p>
                        <p class="fs-5">Balcon chauffé</p>
                    </div>
                    <div class="col d-flex flex-column justify-content-center align-items-end">
                        <i class="bi bi-door-open-fill fs-1"></i>
                    </div>
                          </div>
                          <div class="row my-5">
                    <div class="col d-flex flex-column">
                        <p class="my-2 info-name">Vue</p>
                        <p class="fs-5">Sur la mer</p>
                    </div>
                    <div class="col d-flex flex-column justify-content-center align-items-end">
                        <i class="fa-solid fa-umbrella-beach fs-1"></i>
                    </div>
                          </div>
                          <div class="d-flex justify-content-center">
                    <hr>
                          </div>
            
                          <div class="row mt-5">
                    <div class="col d-flex flex-column">
                        <p class="my-2 info-name fw-bold" >Total price:</p>
                    </div>
                    <div class="col d-flex flex-column align-items-end">
                        <h2 class="my-0" ><%= reservData.stayPrice %>$</h2>
                        <p class="fw-light" ><%= reservData.numberOfNights %> <%= reservData.nightString %></p>
                    </div>
                          </div>
                          <div class="d-flex gap-5 flex-row justify-content-center align-items-center">
                    <button type="submit" id="modifyBtn" class="btn btn-dark fs-4 rounded-4">
                        Réserver la chambre
                    </button>
                          </div>
                          <!-- Reservation Info -->
              </div>
        </form>
    </div>
    

    <!-- JQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- JQuery CDN -->

    <!-- Page Script -->
    <!-- <script src="js/reservation-details-script.js"></script> -->
    <!-- Page Script -->
</body>


</html>