<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms-list</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/rooms-list.css">
    <!-- Boostrap -->

    <!-- Boostrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Boostrap Icons -->

</head>

<body>

  <div class="container my-4 hotel-info-container">
    <div class="row d-flex">
      <div class="col-6 d-flex flex-column">
        <div class="row">
          <div class="col-10 my-auto">
            <h3 class="mb-0"><%= data.hotel.name %></h3>
            <p class="mt-0"><%= data.hotel.location %></p>
          </div>
          <div class="col d-flex align-items-center justify-content-center border-2 border-end h-75">
            <h2 class="mt-2"><%= data.hotel.categoryIcon %></h2>
          </div>
        </div>
      </div>

      <div class="col">
        <p class="mb-2 fs-5"><%= data.hotel.category %></p>
        <p style="font-size: 0.7em;" class="fw-light">Pour se reposer</p>
      </div>

      <div class="col align-items-center">
        <div class="container">
          <div class="row">
            <div class="col d-flex">
              <h3 class="mb-0" ><%= data.hotel.price %>$</h3>
              <p>/Nuit</p>
            </div>
            <p class="mt-0" style="font-size: 0.75em;"><strong><%= data.stayPrice %>$ total</strong> <span style="margin-left: 4px;" > 1 chambre - <%= data.numberOfNights %> nuits</span></p>
          </div>
        </div>
      </div>
      <div class="col-2 pt-3 d-flex justify-content-end">
        <a href="/book?id=<%= 0 %>"><button class="btn btn-dark rounded-4">Prendre Chambre</button></a>
      </div>
    </div>
  </div>

  <style>
    .hotel-image-container {
      --column-height: 20%;
      display: grid;
      gap: 0.45em;
      height: 50vh;
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .hotel-image-container > img {
      object-fit: cover;
    }
    .hotel-img {
      height: 100%;
      object-fit: cover;
    }
    .main-img-container {
      grid-row:  span 2;
    }
    .main-img {
      border-top-left-radius: 2em;
      border-bottom-left-radius: 2em;
    }
    .side-img-top {
      border-top-right-radius:2em;
    }
    .side-img-bottom {
      border-bottom-right-radius:2em;
    }
  </style>

  <div class="container hotel-image-container">
    <div class="main-img-container">
      <img src="images/room1.jpg" class="img-fluid hotel-img main-img" alt="">
    </div>
    <div>
      <img src="images/room1.jpg" class="img-fluid hotel-img" alt="">
    </div>
    <div>
      <img src="images/room1.jpg" class="img-fluid hotel-img side-img-top" alt="">
    </div>
    <div>
      <img src="images/room1.jpg" class="img-fluid hotel-img" alt="">
    </div>
    <div class="side-img-bottom">
      <img src="images/room1.jpg" class="img-fluid hotel-img side-img-bottom" alt="">
    </div>
  </div>

  <style>
    .container p {
      margin: 0; 
      line-height: 1; 
      display: flex; 
      align-items: center;
    }
    
    .container i {
      line-height: 1; /* Matches line height with p */
      vertical-align: middle; /* Vertically centers the icon if it's inline */
    }

    .reservation-quick-info{
      margin-top: 1em;
      background-color: #dff5ffb5;
    }
    
  </style>

  <% let recommendedRoomCapacity = data.hotel.rooms[0].capacity
    let recommendRoomPersonString = '';
    if(recommendedRoomCapacity > 1) {
      recommendRoomPersonString = 'personnes';
    } else {
      recommendRoomPersonString = 'personne';
    }
  %>

  <div class="container">
    <div class="d-flex flex-row my-3 gap-3 p-4 rounded-3 reservation-quick-info">
      <p ><strong>Ton Séjour :</strong></p>
      <i class="bi bi-calendar"></i>
      <p><%= data.stay %></p>
      <i class="bi bi-person"></i>
      <p><%= recommendedRoomCapacity %> <%= recommendRoomPersonString %> - 1 chambre</p>
    </div>
  </div>

  <div class="container mt-5">
    <h4>Les chambres</h4>
  </div>

    <div class='container my-4 rooms-container'>
        <div class='center list flex-column'>

          <% let firstOpen = false; %>

          <% data.hotel.rooms.forEach(function(room, index) { %>
           
            <% 
              let roomCapacity = room.capacity;
              let roomPersonString = 'personne';
              if(roomCapacity > 1) {
                roomPersonString = 'personnes';
              }
            %>

            <% if(!firstOpen){ %> 
              <% firstOpen = true; %>
              <div class='card flex-row open'>
            <% }else { %>
          <div class='card flex-row'>
            <% } %>
            <img src='images/room1.jpg' class='book book-image'>
            <div class='flex-column mt-3 info'>
              <div class='title'><%= room.room_name %> - <span  ><%= roomCapacity %> <%= roomPersonString %></span> </div>
              <div class='author'><% room.room_type %></div>
              <div class='hidden bottom summary'>
                * Commodité: Machine à café <br>
                * Vue: Vue sur la mer <br>
                * Extensions: Balcon Chauffé 
              </div>
            </div>
            <div class='flex-column group'>
              <div class='members'>
                <%= room.price %>$
              </div>
              <div class='hidden bottom '>
                <a href="/book?id=<%= index %>"><button class='simple '>Réserver</button></a>
              </div>
            </div>
          </div>

          <% }) %>

        </div>
      </div>  

  <style>
    .rounded-iframe {
      width: 100%;
      height: 500px;
      border-radius: 1em;
      overflow: hidden;
    }
  </style>

  <div class="container my-4">
    <h3 class="mb-3" >Localisation: </h3>
    <div class="row">
      <div class="col">
        <iframe class="rounded-iframe shadow" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124715.67320135451!2d-1.6192453296834703!3d12.358479661718151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xe2e95ecceaa44cd%3A0x799f67799c743b8b!2sOuagadougou%2C%20Burkina%20Faso!5e0!3m2!1sen!2sca!4v1711395373082!5m2!1sen!2sca" width="400" height="300" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>

       <!--JQuery  -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
      <!-- Boostrap -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      <script src="js/rooms-list-UI.js"></script> 
</body>
</html>